.footer {
    color: #fff;
    min-height: 1em;
    background-color: #414856;
}

.footer .footer-sitemap {
    padding-top: 1em;
}

.footer-sitemap {
    padding: 0 0 1.5em;
    background-color: #414856;
}

.footer.footer a, .footer.footer a:focus, .footer.footer a:hover {
    color: #fff;
}