.footer-gouv-link {
    padding: 1em 0;
    background-color: #363c48;
    text-align: center;
}

.footer-gouv-link ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.footer-gouv-link li {
    display: inline-block;
    padding-right: .5em;
}

.footer.footer a, .footer.footer a:focus, .footer.footer a:hover {
    color: #fff;
}